<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.agriculture.mapper.FreedomArticleMapper">

    <select id="selectArticleById" resultType="com.smart.agriculture.Do.FreedomArticle">
        select *
        from freedom_article
        where id = #{id} and
              is_del = 0
    </select>
    <select id="selectOneAllArticleIdByUsername" resultType="java.lang.String">
        select fa.id
        from freedom_article fa
        where author_username = #{username} and
              is_del = 0
    </select>
    <select id="selectAddAllArticleId"
            resultType="com.smart.agriculture.Dto.FreedomArticle.AddAllArticleIdDto">
        select fa.id , fa.create_time
        from freedom_article fa
        where author_username = #{username} and
            is_del = 0
    </select>
    <select id="selectLikeById" resultType="java.lang.Long">
        select freedom_article.liked
        from freedom_article
        where id = #{id} and
              is_del =0
    </select>
</mapper>
